@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-4">
            <h2 class="text-center">@ViewData["Title"]</h2>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4 class="text-center">Създайте нов профил</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group text-center">
                    <label asp-for="Input.Email">Имейл</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.ConfirmPassword">Повтори паролата</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Регистрирай</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
