<div class="container mt-5">
    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/images/LogoAbout.jpg" alt="Logo of company">
        </div>
        <div class="col-lg-6">
            <h2>За нас</h2>
            <p>Историята на Джи Ес Джи започва през 1991 година. Фирмата ни започна с търговска дейност. В последствие се ориентирахме към разширяване на дейността в сферата на монтажите и производството. Първоначално стартирахме производството на ролетни щори за прозорци. Успешното налагане на продуктите на фирмата на българския пазар позволиха разширяване на капацитета на производството и въвеждане на нови продукти – ролетни врати за гаражи и витрини на магазини. Машинният парк постепенно се увеличаваше. Намерихме дистрибутори из цялата страна, които да монтират нашите ролетни врати – започнахме да извършва доставка и дистрибуция на произвежданите продукти.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>С натрупването на клиенти увеличавахме и частите за ролетни врати, които произвеждаме и внасяме. През 2000 година създадохме нов цех, в който започнахме да произвеждаме висок клас дървена дограма, която се радва на интерес както в страната, така и из цяла Европа. Към днешна дата цикъла на производство е до голяма степен затворен. Каквото не произвеждаме, се стараем да внасяме директно от производители, за да може да сме максимално конкурентни.</p>
            <p>Опита ни, придобитите знания и умения, както и принципите , които следваме в бизнеса, ни позволиха да инвестираме успешно в строителство на жилищни сгради. Както и в другите ни дейности, така с имотите се стараем да предложим перфектно съотношение между цена и качество. Правим всичко възможно да сме максимално конкурентни, но не всяка цена – качеството винаги е приоритет пред евтиното за нас. Пример за този принцип на работа е, че ние сме произвеждаме дограмата за нашите обекти – постигаме добра цена, като същевременно поддържаме качество на продукта.</p>
            <p>Първата жилищна сграда, която построихме, беше завършена през 2000 година. Оттогава не спираме да се развиваме в тази сфера. Всички наши обекти са завършени докрай – винаги носим отговорност към клиентите си и заради това имаме много клиенти, които си купуват отново жилища от нас. Вече имаме завършени над 10 обекта в Пловдив (завършени и продадени на 100% - над 400 апартамента), както и 5 завършени комплекса (200 апартамента общо) в курортния град Бяла край морето. През 2018 започнахме следващия си проект, който е разделен на 3 части се състои от 200 апартамента в град Пловдив. </p>
            <p>Ние сме екип, който носи отговорност и завършва това, което е започнал. Ние разбираме колко е важно решението за покупка на жилище. Затова ценим всеки наш клиент и правим всичко възможно да остане максимално доволен от избора да ни се довери. </p>
        </div>
    </div>
</div>
