@{
    ViewData["Title"] = "About";
}
<h1 style="text-align: center">За Нас</h1>
<div id="maps-container">
    <div id="cont-pld" class="row">
        <div class="col-lg-6">
            <div style="float:left;">
                <iframe style="border:solid 2px #92DA8B; box-shadow:2px 3px 5px 3px #92DA8B" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?num=100&amp;hl=bg&amp;client=firefox-a&amp;q=%D0%90%D0%B4%D1%80%D0%B5%D1%81:+4002+%D0%9F%D0%BB%D0%BE%D0%B2%D0%B4%D0%B8%D0%B2,++%D1%83%D0%BB.+%22%D0%9A%D0%BE%D0%BB%D1%85%D0%B8%D0%B4%D0%B0%22+9&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%9A%D0%BE%D0%BB%D1%85%D0%B8%D0%B4%D0%B0+9,+%D0%9F%D0%BB%D0%BE%D0%B2%D0%B4%D0%B8%D0%B2,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;ll=42.128657,24.717264&amp;spn=0.019097,0.025749&amp;z=14&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?num=100&amp;hl=bg&amp;client=firefox-a&amp;q=%D0%90%D0%B4%D1%80%D0%B5%D1%81:+4002+%D0%9F%D0%BB%D0%BE%D0%B2%D0%B4%D0%B8%D0%B2,++%D1%83%D0%BB.+%22%D0%9A%D0%BE%D0%BB%D1%85%D0%B8%D0%B4%D0%B0%22+9&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%9A%D0%BE%D0%BB%D1%85%D0%B8%D0%B4%D0%B0+9,+%D0%9F%D0%BB%D0%BE%D0%B2%D0%B4%D0%B8%D0%B2,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;ll=42.128657,24.717264&amp;spn=0.019097,0.025749&amp;z=14&amp;source=embed" style="color:#000;text-align:left">Вижте по-голяма карта</a></small>
            </div>
            <div style="float:left; padding-left:13px; font-size:12px;font-family: 'Helvetica Neue',Arial,Helvetica,'Nimbus Sans L',sans-serif;">
                <b>Джи Ес Джи - 1 ЕООД</b> <br>
                Централен офис и производствена база:<br>
                Адрес: 	4002 <b>Пловдив</b>,<br>
                ул. "Колхида" 9<br>
                Национален телефон: 0700 14 740;   <br>
                Моб.: +359 875 20 34 37<br>
                Тел.: +359 32 67 70 27;<br>
                Факс: +359 32 69 23 14;<br>

                Имейл: <a style="color:#000;" href="mailto:jsj_plovdiv@abv.bg">gsg.plovdiv@gmail.com</a><br>
                <br>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="clear:both;"></div>
            <div style="float:left;">
                <iframe style="border:solid 2px #92DA8B; box-shadow:2px 3px 5px 3px #92DA8B" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.1447666688114!2d24.71851871544888!3d42.12578397920335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd0241b34cf95%3A0x3e6d18e9ccf4d2dd!2sul.+%22Komatevsko+Shose%22+33%2C+4004+Plovdiv!5e0!3m2!1sen!2sbg!4v1493901371680"></iframe><br><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.1447666688114!2d24.71851871544888!3d42.12578397920335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd0241b34cf95%3A0x3e6d18e9ccf4d2dd!2sul.+%22Komatevsko+Shose%22+33%2C+4004+Plovdiv!5e0!3m2!1sen!2sbg!4v1493901371680" style="color:#000;text-align:left">Вижте по-голяма карта</a></small>
            </div>
            <div style="float:left; padding-left:13px; font-size:12px;font-family: 'Helvetica Neue',Arial,Helvetica,'Nimbus Sans L',sans-serif;">
                <b>Джи Ес Джи - 1 ЕООД</b> <br>
                Шоурум:<br>
                Адрес: 	4002 <b>Пловдив</b>,<br>
                Коматевско шосе 33<br>
                Национален телефон: 0700 14 740;   <br>
                Моб.: +359 899/983 560<br>
                Имейл: <a style="color:#000;" href="mailto:jsj_plovdiv@abv.bg">gsg.plovdiv@gmail.com</a><br>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div style="float: left;">
                <iframe style="border: solid 2px #92DA8B; box-shadow: 2px 3px 5px 3px #92DA8B" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=bg&amp;geocode=&amp;q=%D0%92%D0%B0%D1%80%D0%BD%D0%B0+%D0%B1%D1%83%D0%BB+%22%D0%93%D0%B5%D0%BD.+%D0%A1%D1%82%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%22+83&amp;aq=&amp;sll=43.211369,27.921152&amp;sspn=0.047355,0.077162&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%E2%80%9E%D0%93%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D0%BB+%D0%A1%D1%82%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%E2%80%9C+83,+9002+%D0%92%D0%B0%D1%80%D0%BD%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;ll=43.21421,27.920811&amp;spn=0.005919,0.009645&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=bg&amp;geocode=&amp;q=%D0%92%D0%B0%D1%80%D0%BD%D0%B0+%D0%B1%D1%83%D0%BB+%22%D0%93%D0%B5%D0%BD.+%D0%A1%D1%82%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%22+83&amp;aq=&amp;sll=43.211369,27.921152&amp;sspn=0.047355,0.077162&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%E2%80%9E%D0%93%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D0%BB+%D0%A1%D1%82%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%E2%80%9C+83,+9002+%D0%92%D0%B0%D1%80%D0%BD%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;ll=43.21421,27.920811&amp;spn=0.005919,0.009645&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #000; text-align: left">Вижте по-голяма карта</a></small>
            </div>
            <div style="float: left; padding-left: 13px; font-size: 12px; font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;">
                <b>Варна </b><br>
                бул "Ген. Столетов" 83 <br>
                Национален телефон: 0700 14 740; <br>
                Моб.: 0899 /983 582<br>
                Тел./Факс: 052/ 33 02 20<br>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="col-lg-6">
            <div style="float: left;">
                <iframe style="border: solid 2px #92DA8B; box-shadow: 2px 3px 5px 3px #92DA8B" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=bg&amp;geocode=&amp;q=%D0%B1%D1%83%D0%BB.+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F+64+%D0%A1%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD&amp;aq=&amp;sll=41.574233,24.721384&amp;sspn=0.046745,0.077162&amp;ie=UTF8&amp;hq=%D0%B1%D1%83%D0%BB.+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F+64+%D0%A1%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=41.572307,24.711256&amp;spn=0.019263,0.025749&amp;z=14&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=bg&amp;geocode=&amp;q=%D0%B1%D1%83%D0%BB.+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F+64+%D0%A1%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD&amp;aq=&amp;sll=41.574233,24.721384&amp;sspn=0.046745,0.077162&amp;ie=UTF8&amp;hq=%D0%B1%D1%83%D0%BB.+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F+64+%D0%A1%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=41.572307,24.711256&amp;spn=0.019263,0.025749&amp;z=14" style="color: #0000FF; text-align: left">Вижте по-голяма карта</a></small>
            </div>
            <div style="float: left; padding-left: 13px; font-size: 12px; font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;">
                <b>Смолян:</b><br>
                бул. "България" 64<br>
                Национален телефон: 0700 14 740; <br>
                Тел./Факс: +359 (0301) 68 586<br>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div style="float: left;">
                <iframe style="border: solid 2px #92DA8B; box-shadow: 2px 3px 5px 3px #92DA8B" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=bg&amp;geocode=&amp;q=%D0%A1%D0%BE%D1%84%D0%B8%D1%8F+++%D0%B1%D1%83%D0%BB.+%22%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0%22+%E2%84%96112+%D0%B1&amp;aq=&amp;sll=42.705824,23.308576&amp;sspn=0.011905,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0%D1%80%D0%B4+%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0+112,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F-%D0%B3%D1%80%D0%B0%D0%B4,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;ll=42.705713,23.316336&amp;spn=0.018922,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=bg&amp;geocode=&amp;q=%D0%A1%D0%BE%D1%84%D0%B8%D1%8F+++%D0%B1%D1%83%D0%BB.+%22%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0%22+%E2%84%96112+%D0%B1&amp;aq=&amp;sll=42.705824,23.308576&amp;sspn=0.011905,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0%D1%80%D0%B4+%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0+112,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F-%D0%B3%D1%80%D0%B0%D0%B4,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;ll=42.705713,23.316336&amp;spn=0.018922,0.025749&amp;z=14&amp;iwloc=A" style="color: #000; text-align: left">Вижте по-голяма карта</a></small>
            </div>
            <div style="float: left; padding-left: 13px; font-size: 12px; font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;">
                <b>София </b><br>
                бул. "Сливница" №112 б <br>
                Национален телефон: 0700 14 740; <br>
                Моб.: +359 899 983 561<br>
                Тел./Факс: +359 (02) 931 30 02;<br>
                Тел.: +359 (02) 952 14 20;<br>

            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="col-lg-6">
            <div style="float: left;">
                <iframe style="border: solid 2px #92DA8B; box-shadow: 2px 3px 5px 3px #92DA8B" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=bg&amp;geocode=&amp;q=%D0%A1%D0%BE%D1%84%D0%B8%D1%8F+++%D0%B1%D1%83%D0%BB.+%22%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0%22+%E2%84%96199&amp;aq=&amp;sll=42.705824,23.308568&amp;sspn=0.011905,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0%D1%80%D0%B4+%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0+199,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F-%D0%B3%D1%80%D0%B0%D0%B4,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;ll=42.70584,23.308525&amp;spn=0.018922,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=bg&amp;geocode=&amp;q=%D0%A1%D0%BE%D1%84%D0%B8%D1%8F+++%D0%B1%D1%83%D0%BB.+%22%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0%22+%E2%84%96199&amp;aq=&amp;sll=42.705824,23.308568&amp;sspn=0.011905,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0%D1%80%D0%B4+%D0%A1%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0+199,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F-%D0%B3%D1%80%D0%B0%D0%B4,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;ll=42.70584,23.308525&amp;spn=0.018922,0.025749&amp;z=14&amp;iwloc=A" style="color: #000; text-align: left">Вижте по-голяма карта</a></small>
            </div>
            <div style="float: left; padding-left: 13px; font-size: 12px; font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;">
                <b>София </b><br>
                бул. "Сливница" №199<br>
                Национален телефон: 0700 14 740; <br>
                Моб.: +359 899 983 575<br>
                Тел.: +359 (02) 931 14 93;<br>
                Факс: +359 (02) 931 80 27;<br>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>