@model Request
<div class="container mt-5">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <section id="contact" class="content-section text-center" style="padding: 0px">
        <div class="contact-section">
            <div class="container">
                <h2>Свържете се с нас</h2>
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.0646982642!2d24.71684671460187!3d42.1274981577504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc8fae2b8ef077cb!2z0JTQttC4INCV0YEg0JTQttC4!5e0!3m2!1sbg!2sbg!4v1547804176927" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>
                        </div>
                        <div class="row">
                            <p>
                                <span style="font-family: arial, helvetica, sans-serif; font-size: small;">Адрес: ул.Колхида 9, гр.Пловдив</span><br>
                                <span style="font-family: arial, helvetica, sans-serif; font-size: small;">Тел.: +359 32 67 70 27</span>
                                <span style="font-family: arial, helvetica, sans-serif; font-size: small;">Тел.: +359 32 69 23 14</span><br>
                                <span style="font-family: arial, helvetica, sans-serif; font-size: small;">Моб.: +359899/983 573</span>
                                <span style="font-family: arial, helvetica, sans-serif; font-size: small;">Моб.: +359899/867 250</span><br>
                                <span style="font-family: arial, helvetica, sans-serif; font-size: small;">Еmail: gsg.plovdiv@gmail.com</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <form class="form-horizontal" method="post" asp-controller="Home" asp-action="Contact">
                            <div class="form-group">
                                <label asp-for="Name">Име</label>
                                <input asp-for="Name" class="form-control" id="Name" name="Name" placeholder="Иван Иванов">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Емейл</label>
                                <input asp-for="Email" class="form-control" id="Email" name="Email" placeholder="jane.doe@example.com">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group ">
                                <label asp-for="Message">Вашето съобщение</label>
                                <textarea asp-for="Message" id="Message" class="form-control" name="Message" placeholder="Текст на Вашето запитване"></textarea>
                            <span asp-validation-for="Message"></span>
                            </div>
                            <button type="submit" class="btn btn-success">Изпрати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}