<div class="container">
    <!-- Page Heading -->
    <h1 class="my-4 text-center">
        Завършени проекти
    </h1>
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/finishedProjects/br_ch.jpg" alt="Братя Шкопил 2Б">
                <div class="card-body">
                    <h4 class="card-title">ул.Братя Шкорпил 2Б - 100% Продаден</h4>
                    <p class="card-text">Красива шест етажна сграда разпределена в три самостоятелни входа завършена есента на 2018 година.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/finishedProjects/d_talev.jpg" alt="Димитър Талев 132">
                <div class="card-body">
                    <h4 class="card-title">ул.Димитър Талев 132 - 100% Продаден</h4>
                    <p class="card-text">Шест етажна сграда разположена на 50 метра от бул.Ал.Стамболийски и основната част на бул.Димитър Талев завършена пролета на 2018 година.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100"><img class="card-img-top" src="/images/finishedProjects/n_vapcarov.jpg" alt="Никола Вапцаров 9">
                <div class="card-body">
                    <h4 class="card-title">ул. Никола Вапцаров 9 - 100% Продаден</h4>
                    <p class="card-text">Жилищна сграда в сърцето на кв.Кючук Париж в близост до община Южен завършена лятото на 2017 година.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100"><img class="card-img-top" src="/images/finishedProjects/kaliakra_7a.jpg" alt="Калиакра 7А">
                <div class="card-body">
                    <h4 class="card-title">ул. Калиакра 7А - 100% Продаден</h4>
                    <p class="card-text">Жилищна сграда в непосредствена близост до централна гара състояща се от партерни магазини и пет жилищни етажа заваръшена 2013 година.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100"><img class="card-img-top" src="/images/finishedProjects/i_gravanov_40.jpg" alt="Иван Гарванов 40">
                <div class="card-body">
                    <h4 class="card-title">ул. Иван Гарванов 40 - 100% Продаден</h4>
                    <p class="card-text">Осем етажна жилищна сграда с партерни магазини завършена през есента на 2012 година.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/images/finishedProjects/borimechka_22.jpg" alt="Боримечка 22"></a>
                <div class="card-body">
                    <h4 class="card-title">ул. Боримечка 22 - 100% Продаден</h4>
                    <p class="card-text">Жилищна сграда на шест етажа разположена на вътрешна улица в непсредствена близост до бул.Коматевско шосе завършена през 2013 година.</p>
                </div>
            </div>
        </div>
    </div>
</div>
