<div class="row justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">секция А</button>
        <button type="button" class="btn btn-secondary">секция Б</button>
        <button type="button" class="btn btn-secondary">секция В</button>
    </div>
    <div class="btn-group-justified">
        <a class="btn btn-dark" href="#">секция А</a>
        <a class="btn btn-dark" href="#">секция Б</a>
        <a class="btn btn-dark" href="#">секция В</a>
    </div>
    <div class="row justify-content-center">
        <img id="imageFasada" src="images/f3.jpeg" border="0" style="display: block; position: relative; left: 0px; padding: 0px; width: 1349px; height: 604.234px;" usemap="#fasada" alt=""/>
        <map name="fasada" id="imageFasada">
            <area shape="rect" coords="1347,602,1349,604" alt="Image Map" style="outline: none;" title="Image Map" href="#"/>
            <area id="secA" alt="SectionA" title="SectionA" href="#" shape="poly" coords="45,137,136,359,272,497,507,415,501,374,631,328,603,94,513,48" style="outline: none;" target="_self"/>
            <area id="secB" alt="SectionB" title="SectionB" href="#" shape="poly" coords="720,9,528,47,613,93,637,311,641,326,775,277,791,285,802,111,984,62,862,13" style="outline: none;" target="_self"/>
            <area id="secV" alt="SectionV" title="SectionV" href="#" shape="poly" coords="973,66,815,108,803,312,894,365,895,398,1074,502,1247,425,1320,223,1136,133" style="outline: none;" target="_self"/>
        </map>
    </div>
</div>


