<header class="mt-1">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/dydimitrov/image/upload/v1547385612/JsJ/rsz_1.jpg'); height:600px">
                <div class="carousel-caption d-none d-md-inline-block">
                    <h3 style="color:#89C644">Южна фасада</h3>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dydimitrov/image/upload/v1547385612/JsJ/rsz_4.jpg'); height:600px">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="color:#89C644">Източна фасада</h3>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dydimitrov/image/upload/v1547385612/JsJ/rsz_2.jpg'); height:600px">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="color:#89C644">Западна фасада</h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dydimitrov/image/upload/v1547385612/JsJ/rsz_3.jpg'); height:600px">
                <div class="carousel-caption d-none d-md-block align-content-around">
                    <h3 style="color:#89C644">Северна фасада</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предишна</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следваща</span>
        </a>
    </div>
</header>

<div class="container">
    <h1 class="text-center">Вземете своето жилище сега!</h1>
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header text-center">Сграда А</h4>
                <div class="card-body">
                    <img class="responsive" src="/images/SectionA.png" />
                </div>
                <div class="card-footer">
                    <a asp-controller="Property" asp-action="AllApartments" asp-route-section="А" class="btn btn-primary" style="background-color: #89C644">Апартаменти</a>
                    <a asp-controller="Property" asp-action="AllGarages" asp-route-section="А" class="btn btn-primary" style="background-color: #89C644">Гаражи</a>
                    <a href="https://res.cloudinary.com/dydimitrov/raw/upload/v1547810648/JsJ/zipA.zip" class="btn btn-primary text-white" style="background-color: #89C644">Схеми</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header text-center">Сграда Б</h4>
                <div class="card-body">
                    <img class="responsive" src="/images/SectionB.png" />
                </div>
                <div class="card-footer">
                    <a asp-controller="Property" asp-action="AllApartments" asp-route-section="Б" class="btn btn-primary" style="background-color: #89C644">Апартаменти</a>
                    <a asp-controller="Property" asp-action="AllGarages" asp-route-section="Б" class="btn btn-primary" style="background-color: #89C644">Гаражи</a>
                    <a href="https://res.cloudinary.com/dydimitrov/raw/upload/v1547810818/JsJ/zipV.zip" class="btn btn-primary text-white" style="background-color: #89C644">Схеми</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header text-center">Сграда В</h4>
                <div class="card-body">
                    <img class="responsive" src="/images/SectionV.png" />
                </div>
                <div class="card-footer">
                    <a asp-controller="Property" asp-action="AllApartments" asp-route-section="В" class="btn btn-primary" style="background-color: #89C644">Апартаменти</a>
                    <a asp-controller="Property" asp-action="AllGarages" asp-route-section="В" class="btn btn-primary" style="background-color: #89C644">Гаражи</a>
                    <a href="https://res.cloudinary.com/dydimitrov/raw/upload/v1547810744/JsJ/zipB.zip" class="btn btn-primary text-white" style="background-color: #89C644">Схеми</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <h3 class="text-center">Местонахождение на нашите сгради</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.3506966395476!2d24.727117314965255!3d42.121374979203594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDA3JzE3LjAiTiAyNMKwNDMnNDUuNSJF!5e0!3m2!1sbg!2sbg!4v1547820834765" width="800" height="600" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header text-center">За местонахождението</h4>
                <div class="card-body">
                    <ul style="font-size: larger">
                        <li>На 100м от у-ще Д.Талев</li>
                        <li>На 50м от м-н Триумф</li>
                        <li>На 200м от м-н Билла</li>
                        <li>На 50 от болница Св.Анна</li>
                        <li>В близост до бул.Ал.Стамболийски</li>
                        <li>В непсредствена близост спирки от и към центъра</li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header text-center">За строителството</h4>
                <div class="card-body">
                    <ul style="font-size: larger">
                        <li>Конструкция тип монолитен стоманобетон.</li>
                        <li>Външни стени 25см тухлени блокове с вертикални кухини.</li>
                        <li>Ефективни топлоизолационни материали.</li>
                        <li>Гипсова мазилка по стени и тавани.</li>
                        <li>Вароциментова мазилка по стени на бани.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header text-center">За нас</h4>
                <div class="card-body">
                    <ul style="font-size: larger">
                        <li>21 години на пазара.</li>
                        <li>Успешно реализирани над 15 проекта в последните 12 години.</li>
                        <li>5 завършени комплекса край град Бяла.</li>
                        <li>Над 600 завършени и продадени апартаменти.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
