@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5"
    <h2>Управлявай своя профил</h2>
    
    <div>
        <h4>Промени настройките</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
